body {
	background-color: white;
	font-family: "Helvetica Neue", "Helvetica", "Calibri", "Arial", sans-serif;
	text-align: center;
}

.bottom {
	padding-top: 25px;
}

#canvas {
	padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
    background-color: white;
    width:480px;
    height:480px;
}